@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Nova Round', cursive;

}
:root {
    --hue-nuetral: 200;
    --hue-wrong:0;
    --hue-correct: 145;
    background-color: rgb(222, 222, 230);
}

body{
    --hue: var(--hue-neutral)
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container {
    
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    
}


.question-container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}




.grid{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;  
    position: relative;
}



.grid h1 {
    font-family: 'Nova Round', cursive;
    background-color: #01BBFF;
    font-size: 5.4rem;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    margin: 5rem;
    
}



.wrapper{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: right;
    
 
}
.btn{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(28, 26, 26);
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
    text-align: center;
    text-decoration: none;
    position: absolute;

}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem;
    color: rgb(216, 46, 179);
    transition: transform 150ms;
    transform: scale(1.03);
}
.list-item{
    position:relative;
}

#score {
    color: #654d9c;
    text-align: center;
    font-size: 30px;
}

/*
.grid #question {
    font-family: "Nova Round";
    font-size: 30px;
    color: #01BBFF;
} */ testing right now

.buttons {
    margin-top: 30px;
}
 

 
.buttons {
    margin-top: 30px;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  .hide{
    display: none;
}
  /* .hide {
    display: none;
  } */

/*  
#btn0, #btn1, #btn2, #btn3 {
    background-color: #01BBFF;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #01BBFF;
} */
 

 
/* #progress {
    color: #2b2b2b;
    font-size: 18px;
} */